@{
    ViewBag.Title = "Culture";
}

<!--background image-->
<div class="container-fluid" style="height: 200px;
        background-image: url('../../Images/culture.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
</div>

<!--content-->
<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>A</span>ustralian <span>C</span>ulture</h3>
            <p>
                Learn about what Australians love, their culture and get accustomed with this beautiful place.
            </p>
        </div>

    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="main" id="section1">
        <div class="col-12 ">
            <h3>Australian Culture</h3>
            <p>
                Australians are straightforward and outgoing. The oldest surviving cultural traditions are those of the
                Australia’s Aboriginal people. The boomerang and didgeridoo, invented by Aborigines are country’s iconic
                symbol. More than 75% of Australians live in cities and urban centres along the coastline. Australia’s culture
                is generally a western culture.
            </p>
            <br />
            <br />
            <h3>Australian Values</h3>
            <p>
                Society respects values such as freedom of religion, dignity of individual, equality of men and women. They
                believe in the idea of fair-go i.e. everyone deserves an equal opportunity. In real sense it’s a democratic
                nation with equal opportunities for all.
            </p>
            <br />
            <br />
            <h3>Meetings and Greetings</h3>
            <p>
                When you meet an Aussie for the first time, they would prefer handshake rather a hug or kiss. They
                would generally address you by your first name and while talking or speaking they will maintain a friendly
                eye-contact. Common greeting which are used by Australians are “G’day” i.e. good day or “Ow ya goin mate”
                i.e. How are you friend.
            </p>
            <br />
            <br />
            <h3>Love for Sport</h3>
            <p>
                Australians take their love for sports seriously and enjoy watching finals for major sports events. Australian
                Rules Football or “Footy” is the most popular sport and is the national game. Apart from these, Australia is
                home to major sport events such as Australian Open Tennis, Formula One Grand Prix along with beloved
                Cricket.
            </p>
            <br />
            <br />
            <h3>Language</h3>
            <p>
                Australians can come as being sarcastic. Many find it difficult to understand the wit and sense of what they
                mean, but you would get accustomed to it in short time. Australians accent and slang can be sometimes
                sometimes unclear and confusing. Know more about Aussie Slang here:<br />
                <a target="_blank" href="https://nomadsworld.com/aussie-slang/">https://nomadsworld.com/aussie-slang/</a>
            </p>
            <br />
            <br />
            <h3>Food and Drinks</h3>
            <p>
                Roast Lamb is considered as Australia’s national dish. Other iconic Australians dish include lamingtons, Tim-
                Tams, ANZAC biscuits and Vegemite- a rich savory spread used on toasted bread. In December, during
                Christmas, Australians enjoy ‘Pavlova’ a meringue-based cake. Australians love their Vino (Wine). Australia
                boasts to have wonderful wineries all over the countryside.
            </p>
            <br />
            <br />
        </div>
    </div>
</div>
