@Scripts.Render("~/Bundles/courses")
<!--background image-->
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/education3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        <div class="content">
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>C</span>ourse <span>R</span>ecommendation</h3>
            <p style="font-size:1.2em">Select the best categories that fits you.</p>
        </div>
    </div>

    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>
    <!--title-->
    <div style="height: 50px;" id="empty"></div>
    <section id="recommendation" data-stellar-background-ratio="2.5">
        <div class="container">
            <!--title-->
            @*<h3 class="w3l-title"><span>C</span>ourse <span>R</span>ecommendation</h3>
                <p>Select the best categories that fits you.</p>*@

            <!--filters-->
            <div class="row" style="text-align: center; font-size: 1.5em; margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-3 col-sm-6">
                    <label for="type">Type:</label>
                    <select id="type">
                        <option>All</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label for="level">Level:</label>
                    <select id="level">
                        <option>All</option>
                        <option>Elementary</option>
                        <option>Intermediate</option>
                        <option>Advanced</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label for="method">Teaching method:</label>
                    <select id="method">
                        <option>All</option>
                        <option>Online</option>
                        <option>Offline</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <button id="button">See Courses</button>
                </div>
            </div>
            <div class="row" id="course">
            </div>
        </div>
    </section>
    <script>
        let types = new Set(courses.map(i => i.Type));
        for (let type of types) {
            $('#type').append(new Option(type, type));
        }

        $(document).ready(() => {
            for (let course of courses) {
                $('#course').append(`
                <div class="col-md-4 col-sm-6 online" style="height: 400px">
                    <div>
                        <a href="${course.Link}" target="_blank">
                            <img src="${getImage(course.Type)}" class="img-responsive" alt="" style="width:500px;height:200px;">
                        </a>
                        <div class="course-info">
                            <h3><a href="${course.Link}" target="_blank">${course.Course_name}</a></h3>
                            <p>
                                <strong>Description:</strong> ${course.Description}
                            </p>
                            <p>
                                Source: ${course.Provider}
                            </p>
                        </div>
                    </div>
                </div>

`);
            }
        });

        $('#button').on('click', () => {
            let filteredCourses = [];
            $('#course').html('');
            let type = $('#type option:selected').val();
            let level = $('#level option:selected').val();
            let method = $('#method option:selected').val();

            for (let course of courses) {
                if ((type === 'All' || type === course.Type) && (level === 'All' || course.Level.includes(level)) && (method === 'All' || method === course["Teaching method"])) {
                    filteredCourses.push(course);
                }
            }

            for (let course of filteredCourses) {
                $('#course').append(`
                <div class="col-md-4 col-sm-6 online" style="height: 400px">
                    <div>
                        <a href="${course.Link}" target="_blank">
                            <img src="${getImage(course.Type)}" class="img-responsive" alt="" style="width:500px;height:200px;">
                        </a>
                        <div class="course-info">
                            <h3><a href="${course.Link}" target="_blank">${course.Course_name}</a></h3>
                            <p>
                                <strong>Description:</strong> ${course.Description}
                            </p>
                        </div>
                    </div>
                </div>

`);
            }
        });

        function getImage(type) {
            let imagePath = "";
            switch (type) {
                case "English skills":
                    imagePath = "/Images/English.jpg";
                    break;
                case "Working skills":
                    imagePath = "/Images/working.png";
                    break;
                case "Digital skills":
                    imagePath = "/Images/digital.png";
                    break;
                case "Business":
                    imagePath = "/Images/business.jpg";
                    break;
                default:
                    break;
            }
            return imagePath;
        }
    </script>
    <style>

        select {
            margin-right: 10px;
        }
    </style>
</body>
