<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/education3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        <div class="content">

        </div>
    </div>

    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>
    <div style="height: 50px;" id="empty"></div>

        <section id="recommendation" data-stellar-background-ratio="2.5">
            <div class="container">

                    <div class="Course-title" data-wow-delay="0.1s">
                        <h2>Course Recommendation</h2>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="coursedrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Course
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="javascript:on()">Online</a></li>
                            <li><a href="javascript:off()">Offline</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:all()">All</a></li>
                        </ul>
                    </div>

                <div class="row" id="course">
                    <div class="col-md-4 col-sm-6 online"  style="min-height: 400px">
                        <!-- Course1 -->
                        <div class="course1" data-wow-delay="0.4s">
                            <a href="https://www.ames.net.au/learn-english/english-for-youth">
                                <img src="~/Images/English.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/learn-english/english-for-youth">Youth English</a></h3>
                                <p><strong>Description:</strong> Youth English is mainly recommended for users from 15 to 23 years old.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online"  style="min-height: 400px">
                        <!-- Course2 -->
                        <div class="course2" data-wow-delay="0.6s">
                            <a href="https://www.ames.net.au/learn-english/general-english-for-living-in-australia">
                                <img src="~/Images/English.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/learn-english/general-english-for-living-in-australia">English for living</a></h3>
                                <p><strong>Description:</strong> Living English is mainly recommended for users who is willing to improve English for daily use.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online"  style="min-height: 400px">
                        <!-- Course3 -->
                        <div class="course3" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/learn-english/english-for-work">
                                <img src="~/Images/English.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/learn-english/english-for-work">English for working</a></h3>
                                <p><strong>Description:</strong> Mainly recommended for users whose English is not sufficient for working communication.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online" style="min-height: 400px">
                        <!-- Course4 -->
                        <div class="course4" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/find-a-course/work-skills">
                                <img src="/Images/working.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/find-a-course/work-skills">Work skills</a></h3>
                                <p><strong>Description:</strong> Work skill courses is aimed at teaching users skills to make a living.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online" style="min-height: 400px">
                        <!-- Course5 -->
                        <div class="course5" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/find-a-course/career-development-skills">
                                <img src="/Images/digital.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/find-a-course/career-development-skills">Digital literacy</a></h3>
                                <p><strong>Description:</strong> Digital literacy courses are designed for hobby or making a living.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 offline" style="min-height: 400px">
                        <!-- Course6 -->
                        <div class="course6" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/courses/cswe-i-ii-iii-eal">
                                <img src="~/Images/English.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/courses/cswe-i-ii-iii-eal">English for Living and Working in Australia</a></h3>
                                <p><strong>Description:</strong> The course will give learners the opportunity to practice their English conversation skills in class to allow for pathways to further study and employment and to help participate in day-to-day life in Australia.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 offline" style="min-height: 400px">
                        <!-- Course7 -->
                        <div class="course7" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/courses/chinese-bilingual-class">
                                <img src="~/Images/English.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/courses/chinese-bilingual-class">Chinese Bilingual English Class</a></h3>
                                <p><strong>Description:</strong> This class is designed to provide English language tuition to clients who have low speaking and listening skills and who would benefit from having a teacher with bilingual English and Chinese language.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 offline" style="min-height: 400px">
                        <!-- Course8 -->
                        <div class="course8" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/courses/work-skills-for-professionals-customer-services-and-office-administration">
                                <img src="~/Images/working.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/courses/work-skills-for-professionals-customer-services-and-office-administration">Work Skills for Professionals, Customer Service</a></h3>
                                <p><strong>Description:</strong> What will I learn: The Australian workplace; Working in a digital world; Industry awareness; Occupational Health and Safety;</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 offline" style="min-height: 400px">
                        <!-- Course9 -->
                        <div class="course9" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/courses/see">
                                <img src="~/Images/working.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/courses/see">Skills for Education and Employment (SEE)</a></h3>
                                <p>
                                    <strong>Description:</strong> This training course will help you improve your English speaking, reading and writing as well as your computer skills.
                                    The course will provide practical work placement in local business and industry.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 offline" style="min-height: 400px">
                        <!-- Course10 -->
                        <div class="course10" data-wow-delay="0.8s">
                            <a href="https://www.ames.net.au/courses/skilled-professional-migrants-program-spmp">
                                <img src="~/Images/working.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.ames.net.au/courses/skilled-professional-migrants-program-spmp">Skilled Professional Migrants Program (SPMP)</a></h3>
                                <p>
                                    <strong>Description:</strong> The course will help make your employment journey easier.
                                    This is a pre-employment course that includes vocational counselling and guest speakers.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online" style="min-height: 400px">
                        <!-- Course11 -->
                        <div class="course11" data-wow-delay="0.8s">
                            <a href="https://www.microsoft.com/en-us/philanthropies/refugee-resources">
                                <img src="~/Images/digital.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://www.microsoft.com/en-us/philanthropies/refugee-resources">Digital skills resources for refugees</a></h3>
                                <p>
                                    <strong>Description:</strong> These resources were created to help humanitarian organizations deliver training to help refugees gain digital literacy and computer science skills.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online" style="min-height: 400px">
                        <!-- Course12 -->
                        <div class="course12" data-wow-delay="0.8s">
                            <a href="https://solutionscenter.nethope.org/Resources-for-Refugee-Education-and-Skills-Training">
                                <img src="~/Images/business.jpg" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://solutionscenter.nethope.org/Resources-for-Refugee-Education-and-Skills-Training">HP LIFE</a></h3>
                                <p>
                                    <strong>Description:</strong> HP LIFE offers a portfolio of 27 courses that are available for free in seven languages. This open resource is designed to help users improve business skills and digital literacy, start or grow a business, and gain skills for a current or new job.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 online" style="min-height: 400px">
                        <!-- Course13 -->
                        <div class="course13" data-wow-delay="0.8s">
                            <a href="https://solutionscenter.nethope.org/Resources-for-Refugee-Education-and-Skills-Training">
                                <img src="~/Images/working.png" class="img-responsive" alt="" style="width:500px;height:200px;">
                            </a>
                            <div class="course-info">
                                <h3><a href="https://solutionscenter.nethope.org/Resources-for-Refugee-Education-and-Skills-Training">Coursera for Refugees</a></h3>
                                <p>
                                    <strong>Description:</strong> Coursera for Refugees provides over 1,000 live classes including hundreds of specializations and career-relevant courses such as English for Business & Entrepreneurship (University of Pennsylvania), Career Success (University of California, Irvine), and Python for Everybody (University of Michigan).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
        function all() {
            $('.online').show();
            $('.offline').show();
        }
        function on() {
            $('.online').show();
            $('.offline').hide();
        }
        function off() {
            $('.online').hide();
            $('.offline').show();
        }
    </script>
</body>

