
@{
    ViewBag.Title = "Find_job";
}


<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/fj_bac.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;" ">
</div>

<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>F</span>ind <span>A </span><span>J</span>ob</h3>
            <p>Know good jobs for refugees, asylum seekers and immigrants in Victoria that you can apply for. Get to know the employment assistance service for refugees and start your job search now!</p>
            <hr style=" border-color:black; border-width:medium" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#section1"><img src="/Images/1.png" style="width: 100%" /></a>
            <div class="text-center">
                <h4>Suitable jobs for refugees</h4>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#section2">
                <img src="~/Images/2.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Refugee Employment Assistance Service</h4>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#section3">
                <img src="~/Images/3.png" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Start a job search</h4>
            </div>
        </div>
    </div>

    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />


    <div class="row">
        <div class="col-12 ">
            <br id="section1"/>
            <br />

            <h3 >Suitable jobs for refugees</h3>
            <hr style=" border-color:black;" />
            <p>The most common occupations among humanitarian migrants were labouring which require less English skills, work experience and professional work skills followed by technicians/trades. Previous Australian research shows there are niches (cleaning, aged care, meat processing, taxi driving, security and building) where humanitarian migrants tend to find employment. If you're in the same situation, these positions might be a good fit for you:</p>
            <br />

            <h4>&radic; Food service jobs </h4>
            <p>Food service is an excellent entry-level industry for newcomers. You can become a server, busser, or host without very much training.</p>
            <br />
            <h4>&radic; Agriculture jobs</h4>
            <p>Agricultural workers maintain the quality of farms, crops, and livestock by operating machinery and doing physical labor under the supervision of farmers, ranchers, and other agricultural managers. </p>
            <br>
            <h4>&radic; Care, service and maintenance jobs</h4>
            <p>Personal care, cleaning and maintenance jobs are spread over many different industries. Tasks include plumbing work, painting, flooring repair and upkeep, electrical rep</p>
            <br />
            <h4>&radic; Manufacturing jobs</h4>
            <p>There are skilled and unskilled jobs available in manufacturing, including producing medicine, cars, food and clothing industries.</p>
            <br />
            <h4>&radic; Construction and repair jobs</h4>
            <p>Workers in construction and repair jobs are an important part of the workforce. Construction workers prepare land and use machines to make buildings, roads, and other structures. Repair workers fix and maintain buildings and machines. Learn about which construction and repair jobs are right for you.</p>
            <br />
            <p>If you have extensive work experience, professional skills and relevant qualifications, you also can consider the following occupations that are also in short supply in Victoria:</p>
            <h4>&radic; Healthcare jobs</h4>
            <p>Healthcare is a quickly growing field. Jobs like nurse, physicians assistant and pharmacy technician are in high demand.</p>
            <br />
            <h4>&radic; Education jobs</h4>
            <p>Jobs in education can be very rewarding. Learn about a range of roles including librarian, substitute teacher, and ESL teacher. </p>
            <br />
            <h4>&radic; Technology jobs</h4>
            <p>Technology jobs are varied and well-paid, such as project manager, software programmer, and coder.</p>
            <br />
            <p >The conversation. (2017).Three charts on: job prospects for refugees in Australia. Retrieved from https://theconversation.com/three-charts-on-job-prospects-for-refugees-in-australia-83724</p>
            <br id="section2" />
            <br />
            <h3 >Refugee Employment Assistance Service</h3>
            <hr style=" border-color:black;" />
            <p>This section will introduce some refugee employment support programs provided by Australia Government and communities.</p>

        </div>

    </div>

    <div class="row">
        <br />
        <div class="col-md-6" >
            <div style="background: #BBDEF0; padding: 20px; border-radius: 10px; margin:5px"> 
                <h3 style="margin-bottom:10px">Jobactive</h3>
                <p>Jobactive is the Australian Government’s way to get more Australians into work. It connects job seekers with employers and is delivered by a network of jobactive providers in over 1700 locations across Australia.</p>
                <br />
                <div align="center"><a target="_blank" href="https://www.employment.gov.au/jobactive" class="btn btn-primary">Read More</a></div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div style="background: #BBDEF0; padding: 20px; border-radius: 10px; margin:5px;">
                <h3 style="margin-bottom:10px">Employment Program</h3>
                <p>The Employment Program works with migrant and refugee jobseekers to find meaningful, sustainable employment in welcoming workplaces. </p>
                <br />
                <br />
                <div align="center"><a target="_blank" href="https://lcms.org.au/community-programs/employment-program/" class="btn btn-primary">Read More</a></div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div style="background: #BBDEF0; padding: 20px; border-radius: 10px; margin:5px">
                <h3 style="margin-bottom:10px">Given a Chance</h3>
                <p>Given the Chance is a social enterprise supporting disadvantaged job seekers into paid employment by partnering with a variety of business across different industries. </p>
                <br />
                <div align="center"><a target="_blank" href="https://giventhechance.bsl.org.au/" class="btn btn-primary">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="background: #BBDEF0; padding: 20px; border-radius: 10px; margin:5px">
                    <h3 style="margin-bottom:10px">Employment Assistance Service</h3>
                    <p>If you have been granted a Bridging Visa with relevant Work Rights and are available and able to work, the ASC Employment Assistance Service can help you…</p>
                    <br />
                    <br />
                    <div align="center"><a target="_blank" href="https://asylumseekerscentre.org.au/employment/information-for-job-seekers/" class="btn btn-primary">Read More</a></div>
                    </div>
                </div>
        </div>
    <div>
        <br />
        <p>Jobactive. (2018). Retrieved from https://www.employment.gov.au/jobactive</p>
         <p>Multicultural Services. (2019). Employment Program. Retrieved from https://lcms.org.au/community-programs/employment-program/</p>
         <p>Given the Chance (2019). Retrieved from https://giventhechance.bsl.org.au/</p>
         <p> Asylum Seeker Centre. (2019). Information for Job Seeker. Retrieved from https://asylumseekerscentre.org.au/employment/information-for-job-seekers/</p>
    </div>

    <div>
        <br id="section3"/>
        <br />
        <h3 >Start a job search</h3>
        <hr style=" border-color:black;" />
        <p>Already choose a career in mind? There are many places you can look for jobs in Australia. Let's start a job search and apply for a job now!</p>
        
        <ul>
            <li>through a job/recruitment agency</li>
            <li>through people you know who are already working (networking)</li>
            <li>through newspaper advertisements (particularly in your local newspaper)</li>
            <li>by going to workplaces with your resume and asking if they have any jobs</li>
            <li><a target="_blank" href="https://www.seek.com.au">www.seek.com.au</a></li>
            <li><a target="_blank" href="http://www.mycareer.com.au">www.mycareer.com.au</a></li>
            <li><a target="_blank" href="https://www.jobsearch.gov.au">www.jobsearch.gov.au</a></li>
            <li><a target="_blank" href="https://www.careerone.com.au/Jobs‎">www.careerone.com.au/Jobs‎</a></li>
            <li><a target="_blank" href="https://www.gumtree.com.au/jobs">www.gumtree.com.au/jobs</a></li>
            @*<li><a target="_blank" href="http://www.sydney.craigslist.com.au">www.sydney.craigslist.com.au</a></li>*@
        </ul>
    </div>
</div>