<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: "Lato", sans-serif;
        }

        /* Style the tab */
        .tab {
            float: left;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 30%;
            height: 300px;
        }

            /* Style the buttons inside the tab */
            .tab button {
                display: block;
                background-color: inherit;
                color: black;
                padding: 22px 16px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current "tab button" class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 70%;
            border-left: none;
            height: 800px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="        height: 200px; width:auto;
        background-image: url('../../Images/pixpoetry-Hkw1erBrzwc-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;">

    </div>
    <div class="container">
        <h1 style="color:black;"><b>Refugee Statistics</b></h1>
        <p font-size: 16px> This page introduces some key statistics about refugees and asylum seekers in Australia.</p>

        <div class="tab">
            <button class="tablinks" onclick="openPic(event, 'Number of refugees and asylum seekers in Australia')" id="defaultOpen">Number of refugees and asylum seekers in Australia</button>
            <button class="tablinks" onclick="openPic(event, 'Country of Origin of refugees in Australia')">Country of Origin of refugees in Australia</button>
            <button class="tablinks" onclick="openPic(event, 'Country of Origin of asylum seekers in Australia')">Country of Origin of asylum seekers in Australia</button>
            <button class="tablinks" onclick="openPic(event, 'Number of Humanitarian Program visas granted')">Number of Humanitarian Program visas granted</button>
            <button class="tablinks" onclick="openPic(event, 'Offshore Humanitarian Program visas granted by age group')">Offshore Humanitarian Program visas granted by age group</button>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!--1-->
        <div id="Number of refugees and asylum seekers in Australia" class="tabcontent">
            <h2 style="color:blue;">Number of refugees and asylum seekers in Australia</h2>
            <p style="font-size: 16px"> The below graph shows the number of refugees and asylum seekers in Australia over the last 10 years.The source of data is from <a href="http://popstats.unhcr.org/en/overview" target="_blank">UNHCR - The UN Refugee Agency</a>. UNHCR's figures for asylum seekers are based on the number of applications lodged for protection visas in Australia.</p>
            <div id="populationChart"></div>
            <script type="text/javascript" src="~/Scripts/Visualisation/populationChart.js"></script>
            <i style="font-size: 16px">Note the chart is interactive, hover your mouse inside the chart to see the exact numbers for a year. Click on a category in the legend to delete it. Play around with many more interactions.</i>
            <br>
            <p style="font-size: 16px">The number of refugees and asylum seekers in Australia has increased significantly in the last 10 years. The number of refugees have almost tripled in the last 10 years, increasing from 21k in 2008 to 57k in 2018. The number of asylum seekers have increased by more than 30 times from 2k in 2008 to 61k in 2018.</p>
        </div>
        <!--2-->
        <div id="Country of Origin of refugees in Australia" class="tabcontent">
            <h2 style="color:blue;">Country of Origin of refugees in Australia</h2>
            <p style="font-size: 16px"> The number of refugees in Australia from each country for the year 2017 is shown in the below map. The data source for this chart is again <a href="http://popstats.unhcr.org/en/overview" target="_blank">UNHCR - The UN Refugee Agency</a>.</p>
            <div id="countryOfOriginRef"></div>
            <script type="text/javascript" src="~/Scripts/Visualisation/countryOfOriginRefugee.js"></script>
            <i style="font-size: 16px">Note the map is interactive, hover your mouse inside the map to see the exact number of refugees from a country. You can pan and zoom in the map.</i><br>
            <p style="font-size: 16px"> In 2017, refugees hail mostly from middle-eastern countries of Afghanistan, Iran and Iraq. Sri Lanka and Pakistan are also in top 5 countries of origin of refugees in 2017. Other common countries of origin for refugees are China and the African countries: Egypt, Libya and Zimbabwe</p>
        </div>
        <!--3-->
        <div id="Country of Origin of asylum seekers in Australia" class="tabcontent">
            <h2 style="color:blue;">Country of Origin of asylum seekers in Australia</h2>
            <p style="font-size: 16px">Similarly, the below map shows the number of asylum seekers in Australia from each country for the year 2017 using the same <a href="http://popstats.unhcr.org/en/overview" target="_blank">data source</a>. UNHCR's figures for asylum seekers are based on the number of applications lodged for protection visas in Australia.</p>
            <div id="countryOfOriginAS"></div>
            <script type="text/javascript" src="~/Scripts/Visualisation/countryOfOriginAS.js"></script>
            <i style="font-size: 16px">Note the map is interactive, hover your mouse inside the map to see the exact number of asylum seekers from a country. You can pan and zoom in the map.</i><br>
            <p style="font-size: 16px"> Malaysia is the top country of origin for asylum seekers in 2017, followed closely by China. Other common countries of origin for asylum seekers in 2017 include Afghanistan, middle-eastern countries of Iran and Iraq, Vietnam and sub-continent countries of Pakistan, Sri Lanka, India and Bangladesh.</p>
        </div>
        <!--4-->
        <div id="Number of Humanitarian Program visas granted" class="tabcontent">
            <h2 style="color:blue;">Number of Humanitarian Program visas granted</h2>
            <p style="font-size: 16px">The number of humanitarian program visas granted by the Department of Home Affairs in the last 10 years is depicted in the below graph. The humanitarian program has 2 compontents: offshore resettlement component and onshore protection component. The dataset is procured from the <a href="https://data.gov.au/data/dataset/dba45e7c-81f4-44aa-9d82-1b9a0a121017" target="_blank"> Department of Home Affairs</a>.</p>
            <div id="humanitarianVisasNumber"></div>
            <script type="text/javascript" src="~/Scripts/Visualisation/humanitarianVisasNumber.js"></script>
            <i style="font-size: 16px">Note the chart is interactive, hover your mouse inside the chart to see the exact numbers for a year. Click on a category in the legend to delete it and trace the other category.</i><br>
            <p style="font-size: 16px"> The total number of humanitarian visas granted in 2017-18 was 16,250 with 14,825 offsore resettled refugees and people with special humanitarian needs. The number of humanitarian visas was higher in 2015-16 and 2016-17 with additional visas added to accommodate people displaced by the conflicts in Iraq and Syria.</p>
        </div>
        <!--5-->
        <div id="Offshore Humanitarian Program visas granted by age group" class="tabcontent">
            <h2 style="color:blue;">Offshore Humanitarian Program visas granted by age group</h2>
            <p style="font-size: 16px">The age group distribution of offshore humanitarian program visas granted by the Department of Home Affairs in the last 5 years is depicted in the below graph. The dataset is procured from the <a href="https://data.gov.au/data/dataset/dba45e7c-81f4-44aa-9d82-1b9a0a121017" target="_blank"> Department of Home Affairs</a>.</p>
            <div id="humanitarianVisasAge"></div>
            <script type="text/javascript" src="~/Scripts/Visualisation/humanitarianVisasAge.js"></script>
            <i style="font-size: 16px">Note the chart is interactive, hover your mouse inside the chart to see the exact numbers for a year. Click on a category in the legend to delete it and trace the other categories.</i><br>
            <p style="font-size: 16px"> Around half of the offshore humanitarian visas were granted to people below the age of 25 years in the last 5 years. The next biggest age group of offshore humanitarian entrants was 25-34 years at around 15%. Overall, the percentage of offshore humanitarian visas granted decreases with increase in age of the person.</p>
        </div>

        <script>
            function openPic(evt, picName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(picName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
    </div>
</body>
</html>