@*@{
        Layout = null;
    }*@
<!-- line chart for population of refugees and asylum seekers -->
@*<html>*@
@*<head>
        <title>Refugees Statistics</title>
    </head>*@
@*<body>*@
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
@Scripts.Render("~/bundles/visual")

<div class="container-fluid" style="        height: 200px; width:auto;
        background-image: url('../../Images/pixpoetry-Hkw1erBrzwc-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;">

</div>
<div style="height: 50px;" id="empty"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="visualisationPage" style="font-family:Times New Roman, Arial; margin:25px">
<h1 style="color:black;">Refugee Statistics</h1>
<p font-size: 16px> This page introduces some key statistics about refugees and asylum seekers in Australia.</p> 
<h2 style="color:blue;"> Number of refugees and asylum seekers in Australia</h2>
<p style="font-size: 16px"> The below graph shows the number of refugees and asylum seekers in Australia over the last 10 years.The source of data is from <a href="http://popstats.unhcr.org/en/overview" target = "_blank">UNHCR - The UN Refugee Agency</a>. UNHCR's figures for asylum seekers are based on the number of applications lodged for protection visas in Australia.</p>
<div id="populationChart"></div>
@*<script type="text/javascript" src="populationChart.js"></script>*@
<i style="font-size: 16px">Note the chart is interactive, hover your mouse inside the chart to see the exact numbers for a year. Click on a category in the legend to delete it. Play around with many more interactions.</i>
<br>
<p style="font-size: 16px">The number of refugees and asylum seekers in Australia has increased significantly in the last 10 years. The number of refugees have almost tripled in the last 10 years, increasing from 21k in 2008 to 57k in 2018. The number of asylum seekers have increased by more than 30 times from 2k in 2008 to 61k in 2018.</p>
<h2 style="color:blue;"> Country of Origin of refugees in Australia</h2>
<p style="font-size: 16px"> The number of refugees in Australia from each country for the year 2017 is shown in the below map. The data source for this chart is again <a href="http://popstats.unhcr.org/en/overview" target = "_blank">UNHCR - The UN Refugee Agency</a>.</p>
<div id="countryOfOriginRef"></div>
@*<script type="text/javascript" src="countryOfOriginRefugee.js"></script>*@
<i style="font-size: 16px">Note the map is interactive, hover your mouse inside the map to see the exact number of refugees from a country. You can pan and zoom in the map.</i><br>
<p style="font-size: 16px"> In 2017, refugees hail mostly from middle-eastern countries of Afghanistan, Iran and Iraq. Sri Lanka and Pakistan are also in top 5 countries of origin of refugees in 2017. Other common countries of origin for refugees are China and the African countries: Egypt, Libya and Zimbabwe</p>
<h2 style="color:blue;"> Country of Origin of asylum seekers in Australia</h2>
<p style="font-size: 16px">Similarly, the below map shows the number of asylum seekers in Australia from each country for the year 2017 using the same <a href="http://popstats.unhcr.org/en/overview" target="_blank">data source</a>. UNHCR's figures for asylum seekers are based on the number of applications lodged for protection visas in Australia.</p>
<div id="countryOfOriginAS"></div>
@*<script type="text/javascript" src="countryOfOriginAS.js"></script>*@
<i style="font-size: 16px">Note the map is interactive, hover your mouse inside the map to see the exact number of asylum seekers from a country. You can pan and zoom in the map.</i><br>
<p style="font-size: 16px"> Malaysia is the top country of origin for asylum seekers in 2017, followed closely by China. Other common countries of origin for asylum seekers in 2017 include Afghanistan, middle-eastern countries of Iran and Iraq, Vietnam and sub-continent countries of Pakistan, Sri Lanka, India and Bangladesh.</p>
</div>
@*</body>*@
@*</html>*@
