@{
    ViewBag.Title = "Rights";
}

<!--background image-->
<div class="container-fluid" style="height: 200px;
        background-image: url('../../Images/rights_bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
</div>

<!--content-->
<div class="container" style="font-size:20px">
    <div class="main">
        <div class="col-12 ">
            <div class="row" >
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <h3>What are Australia’s human rights obligations in relation to asylum seekers and refugees?</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <p>
                <br />
                Australia has international obligations to protect the human rights of all asylum seekers
                and refugees who arrive in Australia, regardless of how or where they arrive and whether
                they arrive with or without a visa.
                <br />
                <br />
                While asylum seekers and refugees are in Australian territory (or otherwise engage Australia's
                jurisdiction), the Australian Government has obligations under various international treaties
                to ensure that their human rights are respected and protected. These treaties include the
                International Covenant on Civil and Political Rights (ICCPR), the International Covenant
                on Economic, Social and Cultural Rights (ICESCR), the Convention against Torture and Other
                Cruel, Inhuman or Degrading Treatment or Punishment (CAT) and the Convention on the Rights
                of the Child (CRC). These rights include the right not to be arbitrarily detained.
                <br />
                <br />
                As a party to the Refugee Convention, Australia has agreed to ensure that asylum seekers
                who meet the definition of a refugee are not sent back to a country where their life or
                freedom would be threatened. This is known as the principle of non-refoulement.
                <br />
                <br />
                Australia also has obligations not to return people who face a real risk of violation of
                certain human rights under the ICCPR, the CAT and the CRC, and not to send people to third
                countries where they would face a real risk of violation of their human rights under these
                instruments. These obligations also apply to people who have not been found to be refugees.
                <br />
                <br />
                For an overview of the key human rights issues that arise from Australia’s approach to asylum
                seekers and refugees, see the Commission’s publication Asylum seekers, refugees and human
                rights: snapshot report 2013.
                <br />
                <br />
                Australian Human Rights Commission. (2019). <i>Asylum seekers and refugees guide.</i> Retrieved
                from <a href="https://www.humanrights.gov.au/our-work/asylum-seekers-and-refugees/asylum-seekers-and-refugees-guide">https://www.humanrights.gov.au/our-work/asylum-seekers-and-refugees/asylum-seekers-and-refugees-guide</a>
                <br />
                <br />
                <br />
                <b>Learn More:Where can I find free legal assistance for refugees?</b><br />
                <a target="_blank" href="https://www.acnc.gov.au/charity/4b061cd8b690bd5c8e7d2cc99b0def8f">REFUGEE & IMMIGRATION LEGAL CENTRE INC</a><br />
                <a target="_blank" href="http://www.rails.org.au/">Refugee and Immigration Legal Service</a>
            </p>
        </div>
    </div>
</div>
