@{
    ViewBag.Title = "Settle";
}

<!--background image-->
<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/settle.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
</div>

<!--content-->
<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>G</span>etting <span>S</span>ettled</h3>
            <p>Want to know more about health services offered? Where to buy budget groceries? Learn about how to travel around and where you can seek for any legal aid.</p>
        </div>

        <div class="col-12">
            <br />
            <h3>In this section, you can learn:</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#section1">
                <img src="~/Images/se1.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Healthcare </h4>
            </div>
        </div>
        <div class="col-md-6">
            <a href="#section2">
                <img src="~/Images/se2.png" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Find a Home</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#section3">
                <img src="~/Images/se3.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Shop budget staff</h4>
            </div>
        </div>
        <div class="col-md-6">
            <a href="#section4">
                <img src="~/Images/se4.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Getting around</h4>
            </div>
        </div>
    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="main" id="section1">
        <div class="col-12 ">
            <br />
            <br />
            <h3>Healthcare </h3>
            <hr style=" border-color:black; border-width:medium" />
            <p>
                Refugees arriving in Australia with a refugee visa, can get support from the Commonwealth Government which includes:<br />
                •	An interim Medicare card<br />
                •	Some financial support<br />
                This initial support provided can help you to understand how things work and how you can be better prepared.<br />
                Find more about <a href="https://www.humanservices.gov.au/individuals/services/centrelink/refugee-servicing-network">Commonwealth Government Refugee services</a>
                Apart from the mentioned above, Victorian Government also has numerous health and community services. Refugees are eligible for
                most health and community services which are funded by Victorian Government. Below are a few services:<br />

                <b>Community Health</b><br />
                They offer a range of health services to provide assistance with better health and aids to disease prevention.
                <a target="_blank" href="https://www2.health.vic.gov.au/primary-and-community-health/community-health">Community Health</a><br /><br />

                <b>Home and Community Care (HACC)</b><br />
                This community services provides help to all the younger people related with health, about personal needs and much more.
                <a target="_blank" href="https://www.betterhealth.vic.gov.au/health/servicesandsupport/home-and-community-care-program-for-younger-people">Home and Community Care (HACC)</a><br /><br />

                <b>Catch-up Immunisations</b><br />
                When refugees arrive in Australia, they are not aware of the disease they are suffering from. Getting yourself vaccinated will
                prevent you from getting affected by any severe disease. For refugees and asylum seekers catch-up vaccines are available for
                free. Find more
                <a target="_blank" href="https://www2.health.vic.gov.au/public-health/immunisation/special-risk-groups">Catch-up Immunisation</a><br /><br />

                <b>Victoria Refugee Health Network</b><br />
                Refugees can get access to health nurse; health nurse will do an initial check-up and then can help you later to get access to a local GP or any specialist.
                Find your nearest health nurse here
                <a target="_blank" href="http://refugeehealthnetwork.org.au/refer/refugee-health-nurse-program/">Victorian Refugee Health Network</a><br /><br />
            </p>
            <br />
        </div>
    </div>

    <div class="main" id="section2">
        <div class="col-12 ">
            <br />
            <br />
            <h3>Find a Home</h3>
            <hr style=" border-color:black; border-width:medium" />
            <p>
                Having a shelter is like having secuity, privacy and also protection from various calamities. Refugees when they come to Australia they are
                unaware as to where they can get help regarding housing.<br />
                <br />
                Mentioned below are some organisations that support refugees to help settle better.<br />

                <b>Salvation Army</b><br />
                Its and international Christian Movement and they have involved themselves in national issues. Their belief lies in bringing hope to people experiencing hardships or any injustice.
                Get help with respect to home here,
                <a target="_blank" href="https://www.salvationarmy.org.au/locations/victoria/salvation-army-housing/find-us/sah-victoria/">Army Housing Victoria</a><br />

                Know more about housing support services offered by salvation army here,
                <a target="_blank" href="https://www.salvationarmy.org.au/need-help/housing-and-homelessness-support/">Salvation Army</a><br /><br />

                <b>Life without Barriers</b><br />
                This organisation offers various facilities in addition to finding a house. They help people to life to the fullest. Get help regarding housing support here,
                <a target="_blank" href="https://www.lwb.org.au/find-a-service/refugees-and-asylum-seekers/">Life without barriers</a><br /><br />

                <b>AMES Australia</b><br />
                Ames helps in providing various types of accommodation needs to refugees when they arrive in Australia as per their needs. Find more about accommodation here,
                <a target="_blank" href="https://www.ames.net.au/settle-in-aus/accommodation-services">AMES Australia</a><br /><br />

                <b>Migrant Information Centre (MIC)</b><br />
                The organisation assists newly arrived refugees to secure suitable housing facility. MIC has received funding from the Consumers Affairs Victoria and has undertaken the project ‘Migrant and Refugee Rental Housing Assistance’
                <a target="_blank" href="http://miceastmelb.com.au/our-services/housing/">Migrant Information Centre</a><br /><br />

                One can find homes using commercial websites as well:<br />
                <a target="_blank" href="https://www.gumtree.com.au/s-property-for-rent/melbourne/c18364l3001317"><b>Gumtree Australia</b></a><br />
                <a target="_blank" href="https://flatmates.com.au/"><b>Flatmates Australia</b></a><br /><br />
            </p>
            <br />
        </div>
    </div>

    <div class="main" id="section3">
        <br />
        <br />
        <h3>Shop budget staff</h3>
        <hr style=" border-color:black; border-width:medium" />
        <br />
        <p>
            When refugees arrive, they are not quite sure as to from where they can buy groceries and electronics. There are different places in Victoria,
            to go shopping. Mentioned below are some of the places<br /><br />

            <b>Where to buy Groceries:</b><br /><br />

            <b>Foodbank</b><br />
            This is an ASRC free grocery store in Footscray centre that provides essentials to over 800 refugees and asylum seekers.<br />
            <a target="_blank" href="https://www.asrc.org.au/our-work/foodandmaterialsupport/">ASRC Foodbank</a><br /><br />
        </p>
        <br />
    </div>

    <div class="main" id="section4">
        <br />
        <br />
        <h3>Getting around</h3>
        <hr style=" border-color:black; border-width:medium" />
        <br />
        <p>

        </p>
        <br />
    </div>
</div>