
@{
    ViewBag.Title = "Skill";
}


<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/skill_bc.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-position: center;*/
        /*width: 80vw;*/">
    <div class="content">
    </div>
</div>


<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h2>Working Skills</h2>
            <p>Want to get a good job? Want to learn how to be successful in the Australian workplace? Improve your working skills and make thorough preparations from today!</p>
        </div>

        <div class="col-12">
            <br />
            <h3>In this section, you can learn:</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Skill", "Home")"><img src="/Images/skill1.png" style="width: 100%" /></a>
            <div class="text-center">
                <h4>Resume tips and examples</h4>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/Images/skill2.png" style="width: 100%" />
            <div class="text-center">
                <h4>Preparations for a job interview</h4>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/Images/skill3.png" style="width: 100%" />
            <div class="text-center">
                <h4>Free working skills courses</h4>
            </div>
        </div>

    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="row">
        <div class="col-12 ">
            <br />
            <br />

            <h3>Resume tips and examples</h3>
            <br />

            <p>While there are a few commonly used resume styles, your resume should reflect your unique education, experience and relevant skills. You might consider having multiple versions of your resume tailored to the jobs you’re applying for.</p>
            <br />
            <p>Here are a few key resume writing tips that will help you organize and design your resume:</p>
            <p>1. Look for keywords in the job postings</p>
            <p>2. Review resume examples for your industry</p>
            <p>3. Use a professional font</p>
            <p>4. Include only the most relevant information and put the most important information first</p>
            <p>5. Use active language</p>
            <p>6. Call attention to important achievements</p>
            <p>7. Only include subheadings and sections you need</p>
            <p>8. Choose appropriate margins</p>
            <p>9. Proofread and edit</p>
            <p>10. Decide whether you need a unique resume for different jobs</p>
            <br />
            <p>Indeed career guide. (2019). 10 Resume Writing Tips to Help You Land a Job. Retrieved from https://www.indeed.com/career-advice/resumes-cover-letters/10-resume-writing-tips.</p>
            <br />
            <h5>Watch this video to learn how to write a really good resume.</h5>

        </div>
    </div>
</div>
