@{
    ViewBag.Title = "Skill";
}


<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/0.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
    <div class="content">
    </div>
</div>


<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>W</span>orking <span>S</span>kills</h3>
            <p>Want to get a good job? Want to learn how to be successful in the Australian workplace? Improve your working skills and make thorough preparations from today!</p>
        </div>

        <div class="col-12">
            <br />
            <h3>In this section, you can learn:</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="#section1"><img src="/Images/skill1.png" style="width: 100%" /></a>
            <div class="text-center">
                <h4>Resume tips and examples</h4>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#section2">
                <img src="/Images/skill2.png" style="width: 100%" />
            </a>
                <div class="text-center">
                    <h4>Preparations for a job interview</h4>
                </div>
</div>
        <div class="col-md-4">
            <a href="#section3">
                <img src="~/Images/skill3.png" style="width: 100%" />
            </a>
                <div class="text-center">
                    <h4>Free working skills courses</h4>
                </div>
</div>

    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="main" id="section1">
        <div class="col-12 ">
            <br />
            <br />
            <h3>Resume Tips and Examples</h3>
            <hr style=" border-color:black; border-width:medium" />
            <p>While there are a few commonly used resume styles, your resume should reflect your unique education, experience and relevant skills. You might consider having multiple versions of your resume tailored to the jobs you’re applying for.</p>
            <br />
            <p>Here are a few key resume writing tips that will help you organize and design your resume:</p>
            <p>1. Look for keywords in the job postings</p>
            <p>2. Review resume examples for your industry</p>
            <p>3. Use a professional font</p>
            <p>4. Include only the most relevant information and put the most important information first</p>
            <p>5. Use active language</p>
            <p>6. Call attention to important achievements</p>
            <p>7. Only include subheadings and sections you need</p>
            <p>8. Choose appropriate margins</p>
            <p>9. Proofread and edit</p>
            <p>10. Decide whether you need a unique resume for different jobs</p>
            <br />
            <p>Indeed career guide. (2019). 10 Resume Writing Tips to Help You Land a Job. Retrieved from https://www.indeed.com/career-advice/resumes-cover-letters/10-resume-writing-tips.</p>
            <br />
            <h5>Watch this video to learn how to write a really good resume.</h5>
            <iframe src="https://www.youtube.com/embed/a-B6OHpEcuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 64vw; height: 36vw;"></iframe>
            <p>Heather, A. [Professor Heather Austin]. (2017, November 29). How To Write A Really Good Resume - Sample Resume Template [Video file]. Retrieved from https://www.youtube.com/watch?v=a-B6OHpEcuA</p>
        </div>
    </div>

    <div class="main container" id="section2">
        <br />
        <br />
        <h3>Preparations for a Job Interview</h3>

        <p>
            Did you get invited for a job interview?  You are probably nervous about doing well.
            There are steps you can take to prepare yourself. Learn how the interview process works
            and how to prepare. Read some tips for doing well in a job interview.
        </p>
        <br />
        <div class="row">
            <div class="col-md-6">

                <h4>The job interview process</h4>
                <br />
                <p>
                    A job interview is a conversation between you and the employer. During the interview,
                    the employer will ask you many questions. You need to know how to prepare for an
                    interview. It is one of the most important steps in getting a job.
                </p><br />
                <p>
                    The employer will ask about your work experience. They will want to know about your
                    education and any training you have had. Your answers to interview questions also show
                    what kind of person are. You will show the employer that you are a good person for the
                    job.
                </p><br />
                <p>
                    Job interviews do not always take place in person. You may have a phone interview
                    first. Use this chance to show how you would help the company. If you pass the phone
                    interview, then you will be interviewed in person. For many jobs, you will have one phone
                    interview and at least one in-person interview. Or they may set up a video call with you.
                </p><br />
            </div>
            <div class="col-md-6"">
                <img class="img-responsive" src="/Images/job_process.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ">
                <img class="img-responsive" src="/Images/prepare_interview.jpg" />
            </div>
            <div class="col-md-6">
                <p>123123</p>
                <p>123123</p>
                <p>123123</p>
                <p>123123</p>
            </div>
        </div>

        <p>
            <b>You also can find various free public courses for improving your working skills:</b><br />
            <a href="https://www.learndirect.com/funding-options/free-employability-skills" target="_blank">Free employability skills courses</a><br />
            <a href="https://www.themuse.com/advice/43-classes-you-can-take-right-now-to-advance-your-career-and-theyre-free" target="_blank">41 Classes You Can Take Right Now to Advance Your Career</a><br />
            <a href="https://www.thebalancecareers.com/free-online-courses-to-boost-career-skills-2059801" target="_blank">Free Online Courses on Coursera to Boost Your Career Skills</a><br />
        </p>
    </div>

    <div class="main" id="section3">
        <br />
        <br />
        <h3>Free Working Skills Courses</h3>
        <p>
            Did you get invited for a job interview?  You are probably nervous about doing well.
            There are steps you can take to prepare yourself. Learn how the interview process works
            and how to prepare. Read some tips for doing well in a job interview.
        </p>
        <br />
        <h4>The job interview process</h4>
        <br />
        <p>
            Don't know where to get a free learning resources about working skills, we have the courses ready for you!
            Our webisite provide the course recommendation about working skills for supporting refugee's education and career!
            <a href="@Url.Action("Education", "Home")"><b>Find courses now</b></a>
        </p><br />

        <p>
            <b>You also can find various free public courses for improving your working skills:</b><br />
            <a href="https://www.learndirect.com/funding-options/free-employability-skills" target="_blank">Free employability skills courses</a><br />
            <a href="https://www.themuse.com/advice/43-classes-you-can-take-right-now-to-advance-your-career-and-theyre-free" target="_blank">41 Classes You Can Take Right Now to Advance Your Career</a><br />
            <a href="https://www.thebalancecareers.com/free-online-courses-to-boost-career-skills-2059801" target="_blank">Free Online Courses on Coursera to Boost Your Career Skills</a><br />
        </p>
        <br />
    </div>
</div>