
@{
    ViewBag.Title = "Volunteer";
}
<!--background image-->
<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/volunteer2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
</div>

<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>B</span>ecome <span>A </span><span>V</span>olunteer</h3>
            <p>----------------------------------------------------------------------------------</p>
            <hr style=" border-color:black; border-width:medium" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#section1"><img src="~/Images/v1.jpg" style="width: 100%" /></a>
            <div class="text-center">
                <h4>Suitable jobs for refugees</h4>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#section2">
                <img src="~/Images/v2.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Refugee Employment Assistance Service</h4>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#section3">
                <img src="~/Images/v3.jpg" style="width: 100%" />
            </a>
            <div class="text-center">
                <h4>Start a job search</h4>
            </div>
        </div>
    </div>

    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />


    <div class="row">
        <div class="col-12 ">
            <br id="section1" />
            <br />

            <h3>Organisations helping refugees</h3>
            <hr style=" border-color:black;" />
            <p>
                Want to help refugees but you don’t know where to go?<br />
                You can volunteer with the following organisations that help refugees and asylum seekers in Australia:
            </p>
            <br />

            <h4>&radic; <a target="_blank" href="https://www.refugeecouncil.org.au/volunteering/">Refugee Council of Australia</a></h4>
            <p>
                Refugee Council of Australia is an independent not-for-profit organisation that is the national body for refugees in
                Australia. They provide support services to refugees and advocate for changes in policy.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://www.asrc.org.au/become-a-volunteer/">Asylum Seekers Resource Centre</a></h4>
            <p>
                Asylum Seekers Resource Centre is the largest human rights organisation for people seeking asylum in Australia. Their
                programs provide support to asylum seekers who need legal aid, education, healthcare and other basic support services.
            </p>
            <br>
            <h4>&radic; <a target="_blank" href="http://riserefugee.org/get-involved/volunteering-2/">RISE Refugee Survivors and Ex-Detainees</a></h4>
            <p>
                RISE Refugee Survivors and Ex-Detainees is the only refugee and asylum seekers welfare and advocacy organisation run
                exclusively by refugees, asylum seekers and ex-detainees. They advocate for policy changes and provide various support
                services for refugees and asylum seekers.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://www.ssi.org.au/support-ssi/volunteer">Settlement Services International</a></h4>
            <p>Settlement Services International is a community organisation that provides assistance to refugees and asylum seekers in NSW. </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://www.nswhumanitarianhub.org.au/volunteer/">NSW Humanitarian Hub</a></h4>
            <p>
                The NSW Humanitarian Hub is a common website for prospective volunteers of four organisations that support refugees and asylum
                seekers in NSW: The Asylum Seekers Centre, The House of Welcome, The Jesuit Refugee Service and The Refugee Advice and Casework Service.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="http://www.ausrefugeesponsorship.com.au/how-you-can-help/">Community Refugee Sponsorship Initiative</a></h4>
            <p>
                The Community Refugee Sponsorship Initiative is a collaborative project run by Refugee Council of Australia, Save the Children
                Australia, Amnesty International Australia and Welcoming Australia. It provides opportunities for individuals and organisations
                to sponsor resettlement of refugees in Australia.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://www.redcross.org.au/get-involved/take-action/help-refugees/volunteer-to-help-refugees">Australian Red Cross</a></h4>
            <p>
                Australian Red Cross is a popular community services charity organisation in Australia. It also runs programs for refugees and asylum seekers.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="http://www.australianrefugee.org/volunteer/">Australian Refugee Association</a></h4>
            <p>
                Australian Refugee Association provide settlement services to people from refugee backgrounds in South Australia.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://www.arvolunteers.org/volunteer">Australian Refugee Volunteers</a></h4>
            <p>
                Australian Refugee Volunteers runs various programs to improve the lives of families from refugee backgrounds. It is a not-for-profit organisation based in Sydney, Australia.
            </p>
            <br />
            <h4>&radic; <a target="_blank" href="https://govolunteer.com.au/migrant-services-volunteering">GoVolunteer</a></h4>
            <p>
                GoVolunteer is a website run by Volunteering Australia that matches prospective volunteers with suitable volunteering opportunities.
            </p>
            <br />
            
            <br id="section2" />
            <br />
            <h3>Learn about refugees</h3>
            <hr style=" border-color:black;" />
            <p>
                Have you ever wondered about who is a refugee? Or are you confused with the difference between a refugee and an asylum seeker?<br />
                <br />
                Refugees are generally referred to people who have been forced to flee from their homes due to many reasons including violence, conflict, and war. A refugee fears returning to their home country because of the ill-treatment or violence that they may face for reasons of race, religion, nationality, political opinion.<br />
                <br/>
                Asylum Seekers are people who are seeking international protection for their fear of persecution in their home country. They are claiming to be in a refugee-like situation and are seeking legal protection, however, their claim for refugee status has not yet been officially determined.<br />
                <br/>
                You can read the definition of refugees and asylum seekers as per United Nations High Commissioner for Refugees (UNHCR) <a target="_blank" href="https://www.unrefugees.org/refugee-facts/what-is-a-refugee/">here</a>.
            </p>

        </div>

    </div>

    <div>
        <br id="section3" />
        <br />
        <h3>Statistics</h3>
        <hr style=" border-color:black;" />
        <p>Want to know more about refugees and asylum seekers in Australia. What are the facts? How many refugees does Australia accept for resettlement every year?
            <a target="_blank" href="@Url.Action("Population", "Home")">Know More</a></p>
    </div>

</div>
