@{
    ViewBag.Title = "Weather";
}

<!--background image-->
<div class="container-fluid" style="height: 200px;
        background-image: url('../../Images/weather.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
</div>

<!--content-->
<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>W</span>eather</h3>
            <p>
                Australia’s climate varies greatly throughout the eight states. There are mostly four seasons across the country.
            </p>
        </div>

    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="main" id="section1">
        <div class="col-12 ">
            <h3>What’s the weather in Victoria (Melbourne) like?</h3>
            <p>
                Melbourne’s weather is generally fickle, and one can experience all the four seasons in one day. With the
                information below plan ahead and enjoy the weather all year around
            </p>
            <br />
            <br />
            <h3>Summers from December-February</h3>
            <p>
                These months are dry. Melbourne experiences hottest summers in January with temperature soaring past
                30 degrees.
            </p>
            <br />
            <br />
            <h3>Autumn from March- May</h3>
            <p>
                These months are cooler with sunny days and light winds. The average temperature ranges from 10.9 to 20
                degrees.
            </p>
            <br />
            <br />
            <h3>Winter from June- August</h3>
            <p>
                These months are cold with snowfall in the north-east part of Victoria. Heavy rains are rare in these months.
                Average temperature can range from 6.5 to 14 degrees.
            </p>
            <br />
            <br />
            <h3>Spring from September-November</h3>
            <p>
                During these months weather changes from sunny to cold and windy and then rainy. October is the wettest
                month so keep your umbrella with you all the time. Average temperature ranges from 9.6 to 19.6 degrees.
            </p>
            <br />
            <br />
            <h3>What is Daylight Saving?</h3>
            <p>
                During daylight saving the clocks are put forward by one hour. Daylight saving time begins at 2am on the first
                Sunday in October. It ends on the first Sunday of April when the clocks are put back by an hour.
            </p>
            <br />
            <br />
        </div>
    </div>
</div>
