@{
    ViewBag.Title = "Workright";
}


<div class="container-fluid" style="height: 200px;
        background-image: url('../../Images/workright2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover">
</div>


<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>W</span>ork <span>R</span>ight</h3>
            <p>
                You have certain rights to protect you at work. In Australia,
                everyone should be treated fairly in the workplace. Employers
                must follow laws or they will be fined or punished. Read to
                learn more about workers’ rights in Australia.
            </p>
        </div>

    </div>
    <hr style=" border-color:black; border-width:thin" />
    <hr style=" border-color:black; border-width:thin" />

    <div class="main" id="section1">
        <div class="col-12 ">
            <h3>You can Work in Australia </h3>
            <p>
                Asylum seekers in Australia are precluded from the ability to work until a determination
                is made on their refugee status. You need to confirm your visa type before you look for a
                job. Based on Australia's policy on refugees, legitimate refugees, SHP Entrants PPV and TPV
                holders have a right to be employed.
            </p>
            <br />
            <div class="col-12">
                <img src="~/Images/right.png" style="width: 100%" />
                <div class="text-center">
                    <h4>
                        Australian Human Rights Commission (2019). Questions and Answers About Refugees &
                        Asylum Seekers  <a href=" https://www.humanrights.gov.au/our-work/questions-and-answers-about-refugees-asylum-seekers" target="_blank">
                            https://www.humanrights.gov.au/our-work/questions-and-answers-about-refugees-asylum-seekers
                        </a>
                    </h4>
                </div>
            </div>
            <br />
            <p>
                You can know more about refugee's visa, rights and benefits from <a href="https://www.humanrights.gov.au/our-work/questions-and-answers-about-refugees-asylum-seekers" target="_blank">
                    Australian Human Rights Commission.
                </a>
            </p>
        </div>
    </div>

    <div class="main" id="section2">
        <br />
        <br />
        <h3>What rights are protected under General Protections</h3>
        <p>
            <b> A refugee has the right to safe asylum.</b> Refugees should receive at least the
            same rights and basic help as any other foreigner who is a legal resident,
            including freedom of thought, of movement, and freedom from torture and
            degrading treatment. <b>
                Economic and social rights are equally applicable.
                Refugees should have access to medical care, schooling and the right to work.
            </b>
        </p>
        <br />

        <h4>----Workplace Rights</h4>
        <br />
        <p>
            The term 'workplace right' is broadly defined under the FW Act, and exists where a person:<br />
            • is entitled to a benefit or has a role or responsibility under a workplace law, workplace instrument (such as an award or agreement) or an order made by an industrial body<br />
            • is able to initiate or participate in a process or proceedings under a workplace law or workplace instrument<br />
            • has the capacity under a workplace law to make a complaint or inquiry: to a person or body to seek compliance with that workplace law or workplace instrument; if the person is an employee, in relation to their employment.
        </p><br />

        <h4>----Industrial activities</h4>
        <p>
            All employers, employees and independent contractors are free to become, or not to become,
            members of an industrial association, such as a trade union or employer association. In
            addition, all employers, employees and independent contractors are entitled to engage or
            not engage in what are called ‘industrial activities’.<br />
            These activities are defined in the FW Act. They include various forms of lawful participation
            in an industrial association (such as a trade union) and its activities, including organising or
            promoting lawful activities for or on its behalf, representing its views, and seeking to be represented.
            Further, it covers a person being victimised for refusing to be involved in unlawful activity organised
            or promoted by an industrial association or industrial action.
        </p><br />

        <h4>----Discrimination</h4>
        <p>
            Under the FW Act, it is unlawful for an employer to take adverse action against a person who is an employee,
            former employee or prospective employee because of the person's race, colour, sex, sexual orientation, age,
            physical or mental disability, marital status, family or carer's responsibilities, pregnancy, religion,
            political opinion, national extraction or social origin.
        </p><br />

        <div class="main" id="section3">
            <br />
            <br />
            <h3>Fair Work </h3>
            <p>
                How do you know if your work rights are being violated? Want to know minimum wage, how many hours you can work and how your employer treats you?<br />
                FairWork is a very useful website to give you information and advice about your workplace rights and obligations.
            </p>
            <br />
            <p>
                You can find information about Australian workplace laws on this website including:
            </p>
            <p>
                • Pay<br />
                • Leave<br />
                • Ending employment<br />
                • Employee entitlements<br />
                • Awards and agreements<br />
            </p>

            <p>
                FairWork Official website: <a href="https://www.fairwork.gov.au/" target="_blank">https://www.fairwork.gov.au/</a>
            </p>
            <br />
        </div>
    </div>
</div>
